html, body {
  margin: 0;
  padding: 0;
color:white;
}

html {
  display: flex;
  justify-content: center;
}


#sketch-holder {
/*   border: 2px red solid; */
  display: flex;
  justify-content: center;
  z-index:0;
  position:absolute;
}
h1 {
color: orange;
z-index:2;

margin:0;
position: absolute;}
p {
  margin: 0em 0em 0em 0em;
  padding: 0.25em;
  
}

h1 {
  margin:0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: rgb(220, 120, 20);
}

.intro {
/*   border: 2px solid red; */
  padding: 0;
  width: 700px;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
}